<table border="0" cellspacing="0" cellpadding="0">
  <tr style="height:450px;">
    <td style="width:400px;">
      <div id="take_a_tour" class="big_button">
        <%= link_to "Take a short tour", step1_tours_path %>
      </div>
      <div id="register" class="big_button">
        <%= link_to "Take me in! Register", new_user_path %>
      </div>
    </td>
    <td style="text-align: center;width:460px;">
      <%= image_tag "/images/bg/mcm.jpg", :height => "400px" %>
    </td>
  </tr>

</table>