<div class="centred">
  
  <%= image_tag "/images/bg/screen.png"%>
  <br/>
  If you have tried other personal financial management systems, you know what that means to enter thousands of millions of numbers every time. 
  <br/><strong>Forget that!</strong>
  <br/>Every time you come to <strong>MyCahsMap</strong> you will smile, because here you will take more than you have to give. You will see you current financial state which is not delayed (comparing to other systems). You just take a short glance at the sections to find out if you didn't spent too much money to improve your body needs forgetting to buy a book for you brain.
  <br/>No more blah blah, register and smile!
  <br/>
  <div id="register" class="big_button right">
    <%= link_to "I'm in. Register!", new_user_path %>
  </div>
  
</div>
