<div class="centred">
  
  <%= image_tag "/images/bg/mcm.jpg"%>
  <br/>
    <strong>MyCashMap</strong> is not <i>yet another</i> personal financial management tool. It's the whole new philosophy. You are proposed with 5 sections, which cover all the areas of your life you spend money on to create the value of your life. 
    <br/>All you have to do is spent several minutes to gather and input the information of your usual monthly expenses. After that you don't need to track every single coin you spend. 
    We estimate for you...
  
  <br/><br/>
  <div id="register" class="big_button right">
    <%= link_to "Next", step2_tours_path %>
  </div>
  
</div>
